body {
    font-family:'Georgia', 
sans-serif;
    background: #f3e9dd;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 700px;
    margin: auto;
    background: ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #3a2f2a;
}

ul {
    padding-left: 20px;
}

img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px auto;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}